@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 18px;
    height: 4em;
    background-color: #1F2937;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12em;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

ul {
    padding-left: 0;
    display: flex;
    gap: 1.5em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #eee;
}

.body {
    flex: 1;
}

.section_1 {
    background-color: #1F2937;
    color: #eee;
    padding: 6em 12em;
    display: flex;
}

.container0 {
    padding-right: 4em;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.text_1 {
    padding: 1em 0;
    font-size: 18px;
}

.button {
    font-size: 15px;
    background-color: #3882F6;
    padding: .5em 2em;
    border: #3882F6;
    border-radius: .5em;
    color: #eee;
    font-weight: bolder;
}

.image_0 {
    max-width: 45%;
    height: auto;
}

.section_2 {
    padding: 3em 12em;
}

.title_2 {
    text-align: center;
    font-size: 36px;
}

.cards-container {
    padding: 3em 6em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.image-card {
    width: 9em;
    height: 9em;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.text-card {
    width: 9em;
    font-size: 17px;
    text-align: justify;
}

.section_3 {
    background-color: #E5E7EB;
    padding: 6em 15em;
}

.text_3 {
    font-style: italic;
    font-size: 36px;
}

.author {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    font-size: 36px;
}

.cite {
    font-size: 36px;
}

.section-4 {
    color: #eee;
    margin: 5em 15em;
    padding: 3em 6em;
    background-color: #3882F6;
    border-radius: .6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.button_2 {
    font-size: 15px;
    background-color: #3882F6;
    padding: .5em 2em;
    border: 2px solid #eee;
    border-radius: .5em;
    color: #eee;
    font-weight: bolder;
    flex-shrink: 0;
}

.footer {
    height: 5em;
    background-color: #1F2937;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}